.imgDiv {
  background-color: #29b712;
  display: flex;
  justify-content: center;
  height: 120px;
}

.img {
  height: 40px;
  margin-top: 4vh;
}

.name {
  height: 8.5vh;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
